@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Storm';
  src: url('/storm.ttf') 
}

.storm-font {
  font-family: Storm;
}

*::-webkit-scrollbar {
  width: 0;
}

.app {
  @apply w-screen bg-cover bg-center bg-fixed
}

.desktop-view {
  @apply h-screen sm:h-[calc(100vh-6rem)] w-full overflow-hidden sm:flex-row flex-col-reverse hidden sm:flex
}

nav {
  @apply hidden sm:flex justify-between w-full h-24 items-center px-[5%] bg-blue-950 z-10
}

.loading-screen {
  @apply w-screen h-screen flex flex-col items-center justify-center text-white gap-16 sm:gap-20 bg-blue-950
}

.loading-screen h1 {
  @apply sm:text-4xl text-2xl font-bold storm-font italic
}

.loading-screen img {
  @apply sm:w-60 w-40 animate-spin
}

.interface {
  @apply py-8 px-4 flex-col overflow-y-auto overflow-x-hidden gap-8 w-full sm:w-1/4 min-w-96 h-full bg-opacity-60 flex items-center
}

.button {
  @apply h-10 font-bold rounded-lg text-white p-4 flex items-center justify-center gap-1 border-2 bg-red-600
}

.select {
  @apply bg-white !rounded-md h-10 w-full max-w-80
}

ul {
  @apply flex flex-col font-bold text-white text-center w-full max-w-80
}

ul li {
  @apply p-3 flex justify-between items-center text-sm border-white border-x-2 border-b-2 bg-black bg-opacity-50
}

.storm a {
  @apply w-full border-2 border-white aspect-square bg-cover bg-center flex flex-col items-center justify-center bg-gray-400 max-w-80 rounded-3xl
}

.storm, .season {
  @apply flex flex-col w-full items-center
}

.charts-container {
  @apply w-full bg-opacity-60 flex flex-col overflow-auto sm:p-8
}

.charts {
  @apply flex flex-col gap-8 
}

.selectors {
  @apply flex flex-col gap-5 w-full justify-center items-center
}

ul li h2 {
  @apply text-xs
}

.chart {
  @apply border-2 border-white h-64 md:h-80 lg:h-96 p-4 bg-black bg-opacity-50 cursor-pointer rounded-lg w-full
}

.mobile-interface {
  @apply sm:hidden flex w-full justify-center bg-black bg-opacity-50 rounded-t-3xl bg-cover bg-center bg-fixed absolute top-[92%]
}

.mobile-map {
  @apply sm:hidden w-full h-full fixed top-0 -z-10
}

.legend-container {
  @apply flex justify-center absolute top-3 right-3 z-[9999] 
}

.legend {
  @apply flex flex-col gap-2 font-bold text-white bg-black bg-opacity-50 rounded-lg w-fit p-2 
}

.legend .key {
  @apply flex gap-1 items-center
}

.legend .key span {
  @apply w-3 h-3
}

.map {
  @apply w-full h-full relative
}