@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Storm';
  src: url('/storm.ttf') 
}

.storm-font {
  font-family: Storm;
}

*::-webkit-scrollbar {
  width: 0;
}

header {
  @apply flex justify-between w-full h-24 items-center px-12 bg-blue-950 z-10 font-bold
}

.interface {
  @apply p-8 flex flex-col overflow-y-auto overflow-x-hidden gap-8 w-1/4 min-w-96 h-full bg-blue-900 bg-opacity-60
}

.button {
  @apply h-10 font-bold rounded-lg text-white p-4 flex items-center justify-center gap-1 border-2 bg-red-600
}

.select {
  @apply bg-white !rounded-md h-10 w-full max-w-80
}

ul {
  @apply flex flex-col font-bold text-white text-center w-full 
}

ul li {
  @apply p-3 flex justify-between items-center text-sm border-white border-x-2 border-b-2 bg-black bg-opacity-50
}

.storm, .season {
  @apply flex flex-col w-full items-center
}

.charts-container {
  @apply w-full p-8 bg-blue-900 bg-opacity-60 flex flex-col overflow-auto
}

.charts {
  @apply  flex flex-col w-full gap-8
}

.selectors {
  @apply flex flex-col gap-5 w-full justify-center 
}

ul li h2 {
  @apply text-xs
}

.chart {
  @apply border-2 border-white w-full h-80 p-4 bg-black bg-opacity-50 cursor-pointer
}

